---
export const partial = true;

import {
	handleDeleteRequest,
	handlePatchRequest,
	handlePutRequest,
} from "./functions/requestFunctions";
import { getTodos } from "./functions/todoFileOperations";

let deletedTodoCount: number | null = null;

try {
	const todos = getTodos();

	const requestMethod = Astro.request.method;
	const { id } = Astro.params;
	if (!id) throw new Error("id is not defined");

	// リクエストごとの処理
	switch (requestMethod) {
		case "PUT":
			await handlePutRequest(todos, id, Astro);
			break;
		case "DELETE":
			deletedTodoCount = handleDeleteRequest(todos, id, Astro);
			break;
		case "PATCH":
			await handlePatchRequest(todos, id, Astro);
			break;
		default:
			Astro.response.status = 405;
			throw new Error("Method not allowed");
	}
} catch (error) {
	console.error(error);
}
---

{
	deletedTodoCount !== null && (
		<span id="todo-count" hx-swap-oob="true">
			{deletedTodoCount}件のTODO
		</span>
	)
}
