<form
	hx-post="/api/todo-list/todos"
	hx-trigger="submit"
	hx-target="#todo-list"
	hx-swap="innerHTML"
	x-data="{ input: '' }"
>
	<input id="todo" name="todo" type="text" x-model="input" placeholder="TODO" />

	<button type="submit">追加</button>
</form>

<section>
	<div
		id="todo-list"
		hx-get="/api/todo-list/todos"
		hx-trigger="load once"
		hx-swap="innerHTML"
	>
	</div>
</section>
