<form
	hx-post="/api/todo-list/todos"
	hx-trigger="submit"
	hx-target="#todo-list"
	hx-swap="innerHTML"
	x-data="{ input: '' }"
>
	<input id="todo" name="todo" type="text" x-model="input" placeholder="TODO" />

	<button type="submit">追加</button>
</form>

<section>
	<div
		id="todo-list"
		hx-get="/api/todo-list/todos"
		hx-trigger="load once"
		hx-swap="innerHTML"
	>
	</div>
</section>

<script is:inline>
	// Alpine用の関数定義
	const patchTodo = (id, title) => {
		const url = `/api/todo-list/${id}`;
		const data = { title: title };
		fetch(url, {
			method: "PATCH",
			headers: {
				"Content-Type": "application/json",
			},
			body: JSON.stringify(data),
		})
			.then((response) => {
				if (response.ok) {
					location.reload();
				} else {
					throw new Error("Update failed");
				}
			})
			.catch((error) => {
				console.error("Error:", error);
			});
	};
</script>
