---
import "kiso.css";
import "../assets/style/base.css";
---

<!doctype html>
<html lang="ja" data-theme="cupcake">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script>
			import "htmx.org";
		</script>
		<title>AHA Stack テスト</title>
	</head>
	<body>
		<header></header>
		<main class="max-w-292 mx-auto py-2.5 w-[calc(100%-4rem)]">
			<slot />
		</main>
		<footer></footer>
	</body>
</html>
